<input type="checkbox" id="side-menu-control" style="display: none;">
<div class="sidebar">
    <ul class="menu">
        <li class="menu-item" routerLink="dashboard" [routerLinkActive]="['actived-item-menu']">
            <span class="material-icons">
                widgets
            </span>
            <a>Dashboard</a>
        </li>

        <li class="menu-item" [routerLink]="['transacoes']" [routerLinkActive]="['actived-item-menu']">
            <span class="material-icons">
                swap_horiz
            </span>
            <a>transações</a>
        </li>


        <li class="menu-item" routerLink="debitos" [routerLinkActive]="['actived-item-menu']">
            <span class="material-icons">
                attach_money
            </span>
            <a>Debitos</a>
        </li>
    </ul>
</div>